{{#each dogs }}
    <div class="col-md-2">
            <a href="#" class="img-circle">
                <img class="dog" src="../assets/images/thumbnails/{{ image }}.png" data-breed={{ breed }} alt={{ breed }}>
                <div class="caption text-center">
            
            <button type="button" class="btn btn-primary-topNav hvr-float-shadow" data-toggle="modal" data-target="#modal-2">{{ breed }}</button>
        <div class="modal fade" id="modal-2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">High Scores</h3>
                    </div>
                    <div class="modal-body">
                        <div id="apiDiv"></div>

                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </a>
        </div>
{{/each }}
    </div>
</div>    
    <div class="row bottom"> 
        <div class="col-xs-4">
           <div id="title" class="span1">{{ girlHeading.heading1}} <span>{{ girlHeading.heading2 }}</span> {{girlHeading.heading3}}</div>
            <p>{{ girl.description }}</p>
        </div>

