{{#each dogs }}
    <div class="col-md-2">
            <a href="#" class="img-circle">
                <img class="dog" src="../assets/images/thumbnails/{{ image }}.png" data-breed={{ breed }} alt={{ breed }}>
                <div class="caption text-center">
                        <h6>{{ breed }}</h6>
                </div>
            </a>
        </div>
{{/each }}
    </div>
</div>    
    <div class="row bottom"> 
        <div class="col-xs-4">
           <div id="title" class="span1">{{ girlHeading.heading1}} <span>{{ girlHeading.heading2 }}</span> {{girlHeading.heading3}}</div>
            <p>{{ girl.description }}</p>
        </div>

